GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_INSTALLATION_ID=
NEXT_PUBLIC_DEFAULT_HS256_SECRET=demo-hs256-signing-key-not-for-production-2026
NEXT_PUBLIC_DEFAULT_HS384_SECRET=demo-hs384-signing-key-not-for-production-2026-with-extra-length
NEXT_PUBLIC_DEFAULT_HS512_SECRET=demo-hs512-signing-key-not-for-production-2026-with-even-more-extra-length-for-size
